body {
    background-color: cornsilk;
}

#main-area {
    margin-left: 25%;
    margin-right: 25%;

    display: flex;
    flex-direction: column;
    gap: 15px;
}

.section {
    background-color: antiquewhite;

    padding: 50px;
}